body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;

}
.totale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Main{
    width: 900px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Main img{
    object-fit: cover;
    display: none;
    

  
    max-height: 700px;
}
.Main img.ecran{
    display: block;
    object-fit: cover;
    animation: slides 3s;
    
}
button{
    margin: 5px;
    transition: transform 0.5s;
}
button:hover{

    transform: scale(2);
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 300px;
}
li{
    display: inline;
    :hover{
        cursor: pointer;
    }
}
.activ{
    color: wheat;
    animation: bouge 2s ;
    animation-iteration-count: infinite;

}
div button.auto{
    display: none;
}
div button.auto.ondesk{
    display: inline-block;
}

@keyframes slides{
    from{
        opacity: 0;
        transform: translateY(-800px) ;
        
        
    }
    to{
        opacity: 1;
        transform: translateY(0) ;
        
    }
}
@keyframes bouge{
    0%{
        color: rgb(94, 16, 90);
    }
   
    50%{
        transform: scale(2) ;
        color: rgb(94, 16, 90);
    }
    100%{
        color: rgb(94, 16, 90);
    }
}
