body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.totale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Main {
  width: 900px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.Main img {
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
  max-height: 700px;
}

.Main img.ecran {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: slides 3s;
          animation: slides 3s;
}

button {
  margin: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

button:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  cursor: pointer;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  width: 300px;
}

li {
  display: inline;
}

li :hover {
  cursor: pointer;
}

.activ {
  color: wheat;
  -webkit-animation: bouge 2s;
          animation: bouge 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

div button.auto {
  display: none;
}

div button.auto.ondesk {
  display: inline-block;
}

@-webkit-keyframes slides {
  from {
    opacity: 0;
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slides {
  from {
    opacity: 0;
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bouge {
  0% {
    color: #5e105a;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    color: #5e105a;
  }
  100% {
    color: #5e105a;
  }
}

@keyframes bouge {
  0% {
    color: #5e105a;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    color: #5e105a;
  }
  100% {
    color: #5e105a;
  }
}
/*# sourceMappingURL=main.css.map */